@page
@model IndexModel

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @Model.ViewData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="top-buffer"></div>
<div class="panel panel-primary" id="divToExport">
    <div class="panel-heading panel-head">Product List</div>
    <div class="float-end">
        <span class="float-end pt-2">
            <button type="button" onclick="generatePDF()" class="btn-sm btn-danger pull-right">Export to PDF</button>
        </span>
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <a id="createEditStudentModal" asp-page="Add" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>  Add Product
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>databaseImage</th>
                    <th>FolderImage</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category </th>
                    <th>Description</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.products)
                {
                    <tr>
                        @*<td><img src="data:image/jpeg;base64,@Convert.ToBase64String(item.File)" /></td>*@
                        @if (item.File != null)
                        {
                            <td>
                                @{

                                    var base64 = Convert.ToBase64String(item.File);
                                    var FileSrc = string.Format("data:image/gif;base64,{0}", base64);
                                }
                                <img src="@FileSrc" class="rounded-circle" width="50" height="50" />
                            </td>
                        }
                        else
                        {
                            <td>

                                <img src="" class="rounded-circle" alt="@item.FileUrl" width="50" height="50" />
                            </td>
                        }
                        <td><img src="~/FileUploads/@item.FileUrl" class="rounded-circle" width="50" height="50" /></td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Category.Name</td>
                        <td>@item.Description</td>

                        <td>
                            <a id="editStudentModal" data-toggle="modal" asp-page="Add" asp-route-id="@item.Id" data-target="#modal-action-student"
                           class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts
    {
    <script src="~/js/student-index.js" asp-append-version="true"></script>
    <script type="text/javascript">
        function generatePDF() {

            // Choose the element id which you want to export.
            var element = document.getElementById('divToExport');
            element.style.width = '700px';
            element.style.height = '900px';
            var opt = {
                margin: 0.5,
                filename: 'myfile.pdf',
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { scale: 1 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', precision: '12' }
            };

            // choose the element and pass it to html2pdf() function and call the save() on it to save as pdf.
            html2pdf().set(opt).from(element).save();
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
}  