@page
@model AddModel
@{
    ViewData["Title"] = "Home page";
}
@using GenerikRepositoryPattern.Models

@if (TempData["message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["message"]
    </div>
}
<form method="post">
    @Html.AntiForgeryToken()

    <div>
        <input asp-for="ModelItem.Id" type="hidden" class="form-control" />
        <div class="form-group">
            <label asp-for="ModelItem.Name" class="control-label">Name</label>
            <input name="name" class="form-control" />

        </div>
        <table>
            @{
                IList<SelectListItem> OrgListing = Model.CheckboxItems;
            }

            @foreach (var Org in OrgListing)
            {
                <tr>
                    <td>
                        <input id="@Org.Value" type="checkbox" name="Fruit" value="@Org.Value" checked="@Org.Selected" />
                    </td>
                    <td>
                        <label for="@Org.Value">@Org.Text</label>
                    </td>
                </tr>
            }
        </table>
    </div>
    @Html.HiddenFor(model => model.CheckboxItems)
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" onclick="updatemark()" />
        </div>
    </div>
</form>


<script>

    function updatemark(arg) {
        var abc = ""
        //Iterating the collection of checkboxes which checked marked
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                abc = abc + $(this).val() + ","
                //assign set value to hidden field
                $('#SkillID').val(abc);
            }
        });
    }
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}